body {
 background-color : #D6E4F1;
 background-image:url(fond1.gif);
 background-position:middle;
 scrollbar-face-color: #A199CA;
 scrollbar-shadow-color:#314A84;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #314A84;
 scrollbar-darkshadow-color: #314A84;
 scrollbar-track-color: #314A84;
 scrollbar-arrow-color:#314A84;
 border-width: 2px;
 border-style:dashed ; 
 border-color:#9999cc;
}

.contener 	{
 	font-family: Arial, Helvetica, sans-serif;
	border: 2px buttonface solid;
 	font-size: 8pt;
    border-color: #9999cc;
	background-color : #FFFFFF;
}


.address {
	border: 2px buttonface solid;
    border-color: #9999cc;
}

.content {
	border: 2px buttonface solid;
    border-color: #A199CA;
	background-color : #FFFFFF;
}


th 	{
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 8pt;
    background-color:#314A84;
    color: #FFFFFF;
    border-color: #9999cc;
	padding:5px; 
	text-align:center;
}

.label {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
    color: #FFFFFF;
    padding-top: 5;
    padding-bottom: 5;
	text-align:center;
    margin: 5px;

}

.propval_pair {
	font-family: Arial, Helvetica, sans-serif;
    border: 2px buttonface solid;
	text-align:center;
    background: #FFFFFF;
}

.propval_impair {
	font-family: Arial, Helvetica, sans-serif;
    border: 2px buttonface solid;
	text-align:center;
    background: #FFFFFF;
}

.button 	{
    background-color:#314A84;
    color: #FFFFFF;
	border-color: #9999cc;
	border: 2px buttonface solid;
    padding-top: 5;
    padding-bottom: 5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align:center;
	width:125;

}

input {
	background:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
}



.quantity {
      	background-color:#FFFFFF;
      	text-align:center;
      	font-weight:normal;
        width:100%;
}

@page { size:21.0cm 14.85cm;
        margin-top:1.7cm;
        margin-bottom:1.4cm;
        margin-left:2cm;
        margin-right:2cm
}
