body {
 background-color : #D6E4F1;
 background-image:url(fond.jpg);
 background-position:middle;
 scrollbar-face-color: #9999cc;
 scrollbar-shadow-color:#334885;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #334885;
 scrollbar-darkshadow-color: #334885;
 scrollbar-track-color: #334885;
 scrollbar-arrow-color:#334885;
 border-width:1; 
 border-top-width:0; 

 border-style=dashed ; 
 border-color=#9999cc;
}

table {
	background-color: #9999cc;
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
	border: 2px buttonface solid;
    border-color: #FFFFCC;
	border-collapse : separate;
 }

th {
	 font-family: Arial, Helvetica, sans-serif;
     padding:5px; 
     font-weight:normal;
}
.label {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9pt;
     padding:5px; 
     font-weight:bold;
}
.header {
	  font-family: Arial, Helvetica, sans-serif;
      background-color:#9999cc;
      text-align:center;
      padding:5px; 
      border: 2px buttonface solid;
      border-color: #FFFFCC;

 }

.content {
	    font-family: Arial, Helvetica, sans-serif;
    	background:#FFFFFF;
   	    border: 2px buttonface solid;
        border-color: #FFFFCC;

}

.value {
	  font-family: Arial, Helvetica, sans-serif;
      text-align:center;
      font-weight:normal;
      border: 2px buttonface solid;
      border-color: #FFFFCC;
      padding:5px; 
    }

.unselected {
      background-color:#DDDDDD;
      text-align:center;
      font-weight:normal;
      border: 2px buttonface solid;
      border-color: #FFFFCC;
      padding:5px; 
      }

.selected {
      background-color:#9999cc;
      text-align:center;
      font-weight:normal;
      border: 2px buttonface solid;
      border-color: #FFFFCC;
      padding:5px; 

      }

.key   {

 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
    background-color:#314A84;
    color: #FFFFFF;
    border-color: #FFFFCC;
	border: 1px buttonface solid;
    padding:5px; 
	text-align : center;
    vertical-align : center;
    border-color: #FFFFCC;
  	empty-cells : show;
	cursor: default ;
}

.link    {

 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
    background-color:#314A84;
    color: #FFFFFF;
    border-color: #FFFFCC;
    padding:5px; 
	text-align : center;
    vertical-align : center;
    border-color: #FFFFCC;
  	empty-cells : show;
	cursor: default ;
}
.char 	{
font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
    background-color:#314A84;
    color: #FFFFFF;
    border-color: #FFFFCC;
	border: 1px buttonface solid;
    padding:5px; 
	text-align : center;
    vertical-align : center;
    border-color: #FFFFCC;
  	empty-cells : show;
	cursor: default ;}

.dep 	{
    font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
    background-color:#314A84;
    color: #FFFFFF;
    border-color: #FFFFCC;
	border: 1px buttonface solid;
    padding:5px; 
	text-align : center;
    vertical-align : center;
    border-color: #FFFFCC;
  	empty-cells : show;
	cursor: default ;}



