body {
 background-color : #D6E4F1;
 background-image:url(fond.jpg);
 background-position:middle;
 scrollbar-face-color: #9999cc;
 scrollbar-shadow-color:#334885;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #334885;
 scrollbar-darkshadow-color: #334885;
 scrollbar-track-color: #334885;
 scrollbar-arrow-color:#334885;
 border-width:1; 
 border-top-width:0; 

 border-style=dashed ; 
 border-color=#9999cc;
}

table {
	background-color: #9999cc;
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
	border: 2px buttonface solid;
    border-color: #FFFFCC;
	border-collapse : separate;
 }



th  {
    	border: 2px buttonface solid;
        text-align:center;
        background-color:#314A84;
        color: #FFFFFF;
    	padding-top: 1;
    	padding-bottom: 1;

    }

td {
       font-family: Arial, Helvetica, sans-serif;
    	background:#FFFFFF;
   	    border: 2px buttonface solid;
        border-color: #FFFFCC;
        text-align: center;   
        padding: 0.7em; 
	}

.code   {
     text-align: center;   
	 background-color: #999ccc;
	 border-color: #FFFFCC;
    padding: 0.7em; 
      border: 2px buttonface solid;
	font-family: arial;
	}
