body {
 background-color : #D6E4F1;
 background-image:url(fond.gif);
 background-position:middle;
 scrollbar-face-color: #9999cc;
 scrollbar-shadow-color:#314A84;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #314A84;
 scrollbar-darkshadow-color: #314A84;
 scrollbar-track-color: #314A84;
 scrollbar-arrow-color:#314A84;
 border-width:1;
 border-bottom-width:0;
 border-style=dashed ; 
 border-color=#9999cc;
}

table 	{
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 8pt;
	background-color: #FFFFFF;

}

.family {
    	border: 2px buttonface solid;
    	border-color: #9999cc;
    	padding-top: 1;
    	padding-bottom: 1;

}
.prefname {
    	border: 2px buttonface solid;
        text-align:center;
        background-color:#314A84;
        color: #FFFFFF;
    	padding-top: 1;
    	padding-bottom: 1;
}
.definition {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
		text-align:justify;
    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
 }
 .code {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
		text-align:justify;
    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
 }
 .shortname {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
		text-align:justify;
    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
 }
.dates {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
		text-align:justify;
    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
 }
 .version {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
		text-align:justify;
    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
 }
.note {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
	    text-align:justify;
    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
 }
.remark {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
	    text-align:justify;
    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
 }
.property {
    	border: 2px buttonface solid;
    	border-color: #9999cc;
    	padding-top: 1;
    	padding-bottom: 1;

}
.proptitle {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 14pt;
        text-align:center;
        background-color:#314A84;
        color: #FFFFFF;
    	padding-top: 1;
    	padding-bottom: 1;
}
.propcell {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
		text-align:justify;
    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
 }


.propertycharacteristics {
     	border: 2px buttonface solid;
    	border-color: #FFFFCC;
    	padding-top: 1;
}


.advproperty{
     	border: 2px buttonface solid;
    	border-color: #9999cc;
    	padding-top: 1;
        background-color:#FFFFFF;
    	padding-top: 1;
    	padding-bottom: 1;
}

.selproplink,.advproplink {
		color: #FFFFFF;
}

.advpropcell {
        border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
		text-align:justify;
        background-color:#FFFFFF;
		color: #000000;

    	border-color: #9999cc;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
}

.selector {
     	border: 2px buttonface solid;
    	border-color: #9999cc;
    	padding-top: 1;
        background-color:#FFFFFF;
    	padding-top: 1;
    	padding-bottom: 1;
}

.propsel {
 	border-color: #9999cc;
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 8pt;
 	border-collapse : separate;
 	border-spacing : solid 5pt;
}

.basket {
    	border: 2px buttonface solid;
    	border-spacing : solid 2pt;
    	border-color: #FFFFCC;
    	padding-top: 1;
}

.propval {
    	border: 2px buttonface solid;
    	border-color: #FFFFCC;
    	padding-top: 1;
}

.selectors {
     	border: 2px buttonface solid;
    	border-color: #9999cc;
    	padding-top: 1;
        background-color:#FFFFFF;
    	padding-top: 1;
    	padding-bottom: 1;
 }

.drawing {
   		border: 2px buttonface solid;
    	border-color: #9999cc;
  		text-align:center;
    	padding-top: 5;
    	padding-left: 5;
    	padding-right: 5;
    	padding-bottom: 5;
}
