body {
 background-color : #FFFFFF;
 scrollbar-face-color: #9999cc;
 scrollbar-shadow-color:#314A84;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #314A84;
 scrollbar-darkshadow-color: #314A84;
 scrollbar-track-color: #314A84;
 scrollbar-arrow-color:#314A84;
 border-width:thin; 
 border-style:dashed ; 
 border-color:#9999cc;
}
