body {
 background-color : #D6E4F1;
 background-image:url(fond1.gif);
 background-position:middle;
 scrollbar-face-color: #A199CA;
 scrollbar-shadow-color:#314A84;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #314A84;
 scrollbar-darkshadow-color: #314A84;
 scrollbar-track-color: #314A84;
 scrollbar-arrow-color:#314A84;
 border-width: 2px;
 border-style:dashed ; 
 border-color:#9999cc;
}

.filter 	{
 	font-family: Arial, Helvetica, sans-serif;
	border: 2px buttonface solid;
 	font-size: 8pt;
	border-width: 2px;
    border-color: #9999cc;
	background-color : #FFFFFF;
}

.counter 	{
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
    background-color:#314A84;
    color: #FFFFFF;
    border-color: #FFFFCC;
    padding-top: 5;
    padding-bottom: 5;

}
th {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
    font-weight:normal;
    border-color: #FFFFFF;
    background-color: #9999cc;
}

.selector {
	border: 2px buttonface solid;
    border-color: #9999cc;
}

.propsel {
	border: 2px buttonface solid;
    border-color: #314A84;
	background-color:#9999cc;
	margin: 0.5px;

}
.operator 	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
	width:50;
	height : 15;
}

input {
	background:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;

}


.values {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
	width:75;
	height : 18;
}

.button 	{
    background-color:#314A84;
    color: #FFFFFF;
	border-color: #9999cc;
	border: 2px buttonface solid;
    padding-top: 5;
    padding-bottom: 5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align:center;
	width:80;
}