body {
 background-color : #A5BDD6;
 scrollbar-face-color: #9999cc;
 scrollbar-shadow-color:#334885;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #334885;
 scrollbar-darkshadow-color: #334885;
 scrollbar-track-color: #334885;
 scrollbar-arrow-color:#334885;
 border-width:thin; 
 border-style=dashed ; 
 border-color=#9999cc;
 foreground-color : #FFFFFF;
}

.title {
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 12pt;
		text-align:justify;
}
.title1 {
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 8pt;
		text-align:justify;
}
