body {
 background-color : #D6E4F1;
 background-image:url(fond1.gif);
 background-position:middle;
 scrollbar-face-color: #9999cc;
 scrollbar-shadow-color:#314A84;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #314A84;
 scrollbar-darkshadow-color: #314A84;
 scrollbar-track-color: #314A84;
 scrollbar-arrow-color:#314A84;
 border-width:thin; 
 border-style:dashed ; 
 border-color:#9999cc;
}

table 	{
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 10pt;
	border-color: #314A84;
	border-width: 2px;
    background-color:#FFFFFF;

}
.menu {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 10pt;
	border: 2px buttonface solid;
	border-width: 2px;
    border-color: #9999cc;
	margin: 0.5px;
}
#mtmtable{
    background-color: #FFFFFF;   
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 12pt;
	border: 2px buttonface solid;
    border-color: #9999cc;
	border-collapse : separate;
}
.root {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 10pt;
	color:#000000;
	background:transparent;
	font-family:Arial, Helvetica, sans-serif;
	font-size:84%;
}
.subtext {
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:84%;
	background:transparent;
}
a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:84%;
	text-decoration:none;
	color:#330099;
	background:transparent;
}
a:hover {
	color:#990000;
	background:transparent;
}
a.tracked {
	color:red;
	background:transparent;
}
a.subexpanded {
	color:red;
	background:transparent;
}
a.subclosed {
	color:red;
	background:transparent;
}

.highlight {
	color:red;
	font-family:Arial, Helvetica, sans-serif;
	font-size:84%;
	background:transparent;
}
