body {
 background-color : #D6E4F1;
 background-image:url(fond.gif);
 background-position:middle;
 scrollbar-face-color: #9999cc;
 scrollbar-shadow-color:#314A84;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #314A84;
 scrollbar-darkshadow-color: #314A84;
 scrollbar-track-color: #314A84;
 scrollbar-arrow-color:#314A84;
 border-width:1; 
 border-bottom-width:0; 
 border-style=dashed ; 
 border-color=#9999cc;
}

.ClassSelectors {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 8pt;
    border-collapse: collapse;
   	border: 2px buttonface solid;
   	border-spacing : solid 2pt;
   	border-color:  #9999cc;
   	padding-top: 1;
}

.select {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 8pt;
/*    background-color:#CCFFCC;*/
    background-color:  #FFFFFF;
}

.header {
    background-color:#314A84;
    border: 2px buttonface solid;
    font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
    border-color:  #9999cc;
	color:#FFFFFF;
}

.selectorcell{
    border-collapse: collapse;
    border: 2px buttonface solid;
    border-color: #FFFFFF;
    padding-top: 1;
}

.aselector{
    border: 2px buttonface solid;
    border-color:  #9999cc;
}

.result{
    border: 2px buttonface solid;
    border-color:  #9999cc;
}
.proptitle {
    	border: 2px buttonface solid;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 14pt;
        text-align:center;
        border-color:  #9999cc;
        background-color:#314A84;
        color: #FFFFFF;
    	padding-top: 1;
    	padding-bottom: 1;
}
.seltitle {
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 9pt;
        text-align:center;
  }