body {
 background-color : #D6E4F1;
 background-image:url(fond1.gif);
 background-position:middle;
 scrollbar-face-color: #9999cc;
 scrollbar-shadow-color:#314A84;
 scrollbar-highlight-color: #9999cc;
 scrollbar-3dlight-color: #314A84;
 scrollbar-darkshadow-color: #314A84;
 scrollbar-track-color: #314A84;
 scrollbar-arrow-color:#314A84;
 border-width:thin; 
 border-style=dashed ; 
 border-color=#9999cc;
}

.services 	{
 	font-family: Arial, Helvetica, sans-serif;
	border: 2px buttonface solid;
 	font-size: 8pt;
    border-color: #9999cc;
	background-color : #FFFFFF;
}
.commands {
  	border-collapse : separate;
    border-color: #9999cc;
	margin: 0.5px;
	background-color : #9999cc;

}

.button 	{
    background-color:#314A84;
    color: #FFFFFF;
	border-color: #9999cc;
	border: 2px buttonface solid;
    padding-top: 5;
    padding-bottom: 5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align:center;
	width:125;
}

input {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 8pt;
    background-color:#CCFFFF;
}

